@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hyperlink {
    @apply text-blue-600 hover:text-blue-800 visited:text-purple-600;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
