@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@layer base {
  @font-face {
    font-family: "Basement Grotesk";
    src: url("/fonts/Basement Grotesk.otf");
  }
}
